Tentukan apakah kejadian dibawah ini no error, false positive atau false negative :

a. Pencuri ditangkap dan dihukum

Jika pencuri memang benar melakukan tindakan pencurian dan kemudian ditangkap dan dihukum, maka kejadian ini NO ERROR.

b. Menghilangkan ATK teman namun tidak dikembalikan dan tidak ketahuan

Jika seseorang benar-benar telah mengambil ATK teman dan tidak mengembalikannya, namun tidak ketahuan atau tidak terbukti, maka kejadian ini FALSE NEGATIVE.

c. Sudah membayar makanan namun dituduh belum

Jika seseorang memang sudah membayar makanan dan dituduh belum membayar, maka kejadian ini FALSE POSITIVE.

d. Dinyatakan sakit tipes namun sebenarnya demam berdarah

Jika seseorang sebenarnya sakit demam berdarah dan didiagnosis sebagai sakit tipes, maka kejadian ini FALSE POSITIVE.

#menghitung nilai Z untuk masing-masing dari kombinasi:

Z(HH) = (30 - 50) / 5 = -4
Z(HT/TH) = (58 - 50) / 5 = 1.6
Z(TT) = (12 - 50) / 5 = -7.6

#nilai Z untuk masing-masing kombinasi yang ada, yaitu:

Z(HH) = -4
Z(HT/TH) = 1.6
Z(TT) = -7.6

In [10]:
import pandas as pd

titanic = pd.read_csv('titanic_data.csv')

age_median = titanic['Age'].median()
age_modus = titanic['Age'].mode()[0]

titanic['age_median'] = titanic['Age'].fillna(age_median)
titanic['age_modus'] = titanic['Age'].fillna(age_modus)

print(titanic[['Age', 'age_median', 'age_modus']])

      Age  age_median  age_modus
0    22.0        22.0       22.0
1    38.0        38.0       38.0
2    26.0        26.0       26.0
3    35.0        35.0       35.0
4    35.0        35.0       35.0
..    ...         ...        ...
886  27.0        27.0       27.0
887  19.0        19.0       19.0
888   NaN        28.0       24.0
889  26.0        26.0       26.0
890  32.0        32.0       32.0

[891 rows x 3 columns]